* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F5DC; /* Blanco hueso */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

#gameCanvas {
    background: #F5F5DC;
    border: none;
    box-shadow: none;
}